* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #f4f9ff;
  box-sizing: border-box;
}

button {
  border-style: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
}

form {
  background-color: #f4f9ff;
}

/*Container Beranda*/
.container {
  position: relative;
  text-decoration: none;
  max-width: 410px;
  width: 100%;
  margin: 0px auto;
  top: 60px;
  padding: 0px 16px 80px;
  min-height: calc(100vh - 60px);
  background-color: #f4f9ff;
}

.header-donasi {
  position: absolute;
}

.header-image {
  width: 100%;
  margin: 0px auto;
  padding: 0px 20px 0px 5px;
}

.header-text {
  background-color: transparent;
  color: #f4f9ff;
  font-size: 15px;
  position: absolute;
  top: 8px;
  margin: 50px 0px 0px 27px;
}

.header-nom {
  background-color: transparent;
  color: #f4f9ff;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 8px;
  margin: 70px 0px 0px 27px;
}

.space {
  margin: 20px -1rem;
}

.about {
  margin: 0px auto;
  width: 320px;
  font-size: 16px;
  line-height: 25px;
}

.about-detail {
  margin-top: 15px;
}

.donater {
  margin: 0px auto;
  width: 320px;
  font-size: 16px;
}

.list-program {
  margin: 0px auto;
  width: 320px;
  font-size: 16px;
}

.imagereg-container {
  position: relative;
  width: 100%;
  padding-left: 17px;
}

.imagereg-title {
  position: absolute;
  top: 60px;
  left: 50px;
  font-size: 24px;
  background-color: transparent;
  color: #f4f9ff;
  font-weight: bold;
}

.imagereg-text {
  position: absolute;
  top: 100px;
  left: 50px;
  right: 120px;
  font-size: 14px;
  line-height: 25px;
  background-color: transparent;
  color: #f4f9ff;
}

.imagereg-container a {
  position: absolute;
  top: 170px;
  left: 50px;
  font-size: 14px;
  padding: 0px;
  line-height: 25px;
  background-color: transparent;
  color: #f4f9ff;
}

.imagereg-container a:hover {
  color: #f4f9ff;
}

.list-mitra {
  margin: 0px auto;
  width: 320px;
}

/*Container-Detail-Donasi*/
.containerdetaildonasi {
  position: relative;
  text-decoration: none;
  max-width: 480px;
  width: 100%;
  margin: 0px auto;
  top: 80px;
  padding: 0px 16px 80px;
  min-height: calc(100vh - 60px);
}

.container-detail-program {
  margin: 0px auto;
  width: 320px;
}

.container-detail {
  text-decoration: none;
  height: 82px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.image-program-detail {
  margin-right: 16px;
  object-fit: cover;
}

.titlePdetail {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  height: 82px;
  font-size: 12px;
  font-weight: 500;
}

.titleP-detail-detail {
  display: grid;
  background-color: transparent;
  text-decoration: none;
  text-align: left;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #201a1c;
  display: grid;
}

.value-detail {
  position: absolute;
  width: 117px;
  height: 28px;
  margin: 10px 20px 20px 20px;
  top: 50px;
}

.txtValue-detail {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #8a8aa0;
  margin: 10px 0px 0px 0px;
}

.txtTot-detail {
  width: 69px;
  height: 14px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #309a8d;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px;
}

.container-form-donasi-dtl {
  max-width: 480px;
  margin: 0px auto;
}

.detail {
  margin: 0px auto;
  width: 320px;
  font-size: 16px;
  line-height: 25px;
}

.sekat {
  margin: 0px auto;
  width: 320px;
  height: 106px;

  border: 1px solid #c6c6d4;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 20px;
}

.sekat2 {
  margin: 0px auto;
  width: 320px;
}

.sekat3 {
  margin: 0px auto;
  width: 320px;
  height: auto;
}

.sekat4 {
  margin: 0px auto;
  width: 320px;
}

.container-dana {
  padding: 20px 0px 0px 15px;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  color: #c6c6d4;
}

.style-dana {
  margin: 0px 0px 0.75rem;
  display: flex;
  flex: 1 1;
  flex-direction: column;
}

.style-title {
  color: #8a8aa0;
  font-size: 12px;
  font-weight: 600;
  margin: 0px 0px 20px;
}

.style-name {
  color: #201a1c;
  font-size: 14px;
  font-weight: 600;
}

.style-status {
  color: #8a8aa0;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.style-status p {
  margin-right: 170px;
}

.list-update {
  margin-top: 20px;
}

.list-title {
  font-size: 14px;
  color: #201a1c;
  line-height: 20px;
}

.list-date {
  font-size: 14px;
  color: #34a898;
  margin-bottom: 15px;
}

.footer {
  text-align: center;
  margin: 60px auto;
  width: 320px;
  font-style: SemiBold;
  font-size: 12px;
  line-height: 16px;
  line-height: 100%;
  color: grey;
}

.container-confirm {
  position: relative;
  text-decoration: none;
  max-width: 410px;
  width: 100%;
  margin: 0px auto;
  top: 60px;
  padding: 0px 16px 80px;
  min-height: calc(100vh - 60px);
  background-color: #f4f9ff;
}

.confirm-image {
  width: 100%;
  margin: 0px auto;
}

.confirm-title {
  font-size: 24px;
  font-weight: bold;
  color: #201a1c;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.confirm-txt {
  font-size: 12px;
  font-weight: bold;
  color: #8a8aa0;
  text-align: center;
  padding-bottom: 5px;
}

.confirm-status {
  font-size: 12px;
  font-weight: bold;
  color: #8a8aa0;
  text-align: center;
  padding-top: 10px;
}

.confirm-option {
  display: flex;
  align-items: initial;
  justify-content: space-around;
  padding-top: 80px;
}

.confirm-option1 a {
  color: #8a8aa0;
  font-size: 16px;
}

.confirm-option1 a:hover {
  color: #8a8aa0;
}

.confirm-option2 a {
  color: #e1004d;
  font-size: 16px;
}
